body {
    margin: 0;
    font-family: Arial, sans-serif;

}

.box1{

    grid-area: 1/1/4/2;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
        "header header"
        "aside nav"
        "article article"
        "footer footer";
}

header {
    grid-area: header;
    background-color: #333;
    color: #fff;
    padding: 20px;
    grid-template-rows: auto;
}
aside {
    grid-area: aside;
    background-color: #f4f4f4;
    padding: 20px;
    grid-template-columns: auto;
}
nav {
    grid-area: nav;
    background-color: #ddd;
    padding: 20px;
    grid-template-rows: auto;
}
article {
    grid-area: article;
    padding: 20px;
    grid-template-columns: auto;
}
footer {
    grid-area: footer;
    background-color: #333;
    color: #fff;
    padding: 20px;
    grid-template-rows: auto;
}